@import 'main.scss';

#contacts {
  .contact:nth-of-type(2n) {
    background-color: $main-color-l;
    color: $main-color-d;
  }
  .contact:nth-of-type(2n+1) {
    background-color: $main-color;
    color: $main-color-d;
  }
}

.contact {
  padding: 1em;
}

.contactDetails {
  line-height: 1.25em;
  .show:hover, .edit:hover, .destroy:hover {
    cursor: pointer;
  }
}

#updateContact {
  margin: 0.5em auto;
}

@media only screen and (max-width: 30em) {
  .contact {
    min-height: 100px;
  }
  .contactDetails {
    text-align: center;
  }
}

@media only screen and (min-width: 30.1em) {
  .contact {
    min-height: 50px;
  }
  .contactDetails > div {
    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(3) {
      text-align: right;
    }
  }
}

@media screen and (min-width: 48em) {}