@import 'main.scss';

#modal {
  position: fixed;
  background-color: $main-color;
  border-radius: 5px;
  z-index: 2;
  .contactForm {
    clear: both;
  }
}

#closeModal {
  color: $main-color-d;
  float: right;
  &:hover {
    cursor: pointer;
  }
}

#addContact {
  margin: 0.5em auto;
}

@media only screen and (max-width: 30em) {
  #modal { 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em 1em; 
  }
}

@media only screen and (min-width: 30.1em) {
  #modal { 
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    transform: translateY(25%);
    padding: 2em;
  }
}

@media screen and (min-width: 48em) {}