<!DOCTYPE html>
<html>
<head>
  <title>Phonebook</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container large-9 med-10 small-11'>
    <header class='row'>
      <h1>Phonebook</h1>
    </header>
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
